{% load static from staticfiles %}
<html lang="en">
  <head>
    <base href="/">
    <title>Simple classroom example app</title>
    <link href="static/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="leftnav">
    {% block leftnav %}
    {% endblock %}
    </div>
    <div class="main_content">
    {% block content %}
      This site failed to load. Please take the following actions:
      <ol>
        <li>Panic.</li>
        <li>Keep Panicing.</li>
        <li>That's right...</li>
        <li>OK, now stop.</li>
        <li>Contact the website administrator and complain.</li>
      </ol>
    {% endblock %}
    </div>
  </body>
</html>