{% extends "base_incomplete.html" %}

{% block header %}
<h3>Sample Classroom Management App</h3>
<p>An app for helping teachers manage their classrooms</p>
{% endblock %}

{% block leftnav %}
<div class="sidebar">
  <div>
    <ul>
      <li><a href="/classrooms/">Classroom List</a></li>
      <li><a href="/student_list/?Id=All">Student List</a></li>
      <li><a href="/student_details/">Student Details</a></li>
    </ul>
  </div>
  <div>
    <span>&copy; 2016 By</span><br>
    <span>Bryce 'I usually do back-end work not design, please stop laughing'
          Etheridge</span>
  </div>
</div>
{% endblock %}