{% extends "base_standard_nav.html" %}

{% block head %}
<script>var db_class_list="{{ stored_classes }}"</script>
<script src="static/third-party/closure-library/closure/goog/base.js"></script>
<script src="static/js/classrooms.js"></script>
<script src="static/js/xhr.js"></script>
{% endblock %}

{% block content %}
<form id="add_classroom">
  <span class="normal_text">Create a new classroom named: </span>
  <input type="text" class="text_input" id="add_class_text_field"
   value="0th period" />
  <input type="button" id="add_class_submit" value="Add" />
  <script>cr.classroom.initializeAddClassEvent()</script>
</form>
<br>
<h4>Class list: </h4>
<table id="class_list_table">
  <script>cr.classroom.initializeClassList()</script>
</div>
{% endblock %}